html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
	height: 100%;
}




* html body {height: 100%;}

body {







	background-color: #ffffff;







	color: #000000;







	font-family: Arial, Helvetica, sans-serif;







	margin: 0px;







	padding: 0px;







	height: 100%;







}







body, td, th, input, textarea, select, a {







	font-size: 12px;







}







h1, .welcome {







	padding:9px 0 19px 0;







	font-family: Arial, Helvetica, sans-serif;







	font-size: 25px;







	font-weight:normal;







	line-height: 24px;







	color: #c11314;







	margin:0;







}







h2 {







	color: #000000;







	font-size: 16px;







	margin-top: 0px;







	margin-bottom: 5px;







}







p {







	margin-top: 0px;







	margin-bottom: 20px;







}







a, a:visited, a b {







	color: #c11314;







	text-decoration: underline;







	cursor: pointer;







}







a:hover {







	text-decoration: none;







}







a img {







	border: none;







}







form {







	padding: 0;







	margin: 0;







	display: inline;







}







input[type='text'], input[type='password'], textarea {







	background: #F8F8F8;







	border: 1px solid #CCCCCC;







	padding: 3px;







	margin-left: 0px;







	margin-right: 0px;







}







select {







	background: #FFF;







	font-size:11px;







	color: #666666;







	border: 1px solid #CCCCCC;







	padding: 0px;







}







label {







	cursor: pointer;







}

.price_slider label{

font-weight:bold;

}







.TextGrey{







	font-size:11px;







	color:#aaaaaa;















}







.TextGrey h2, .TextGrey h1, .TextGrey h3{







color:#aaaaaa;







font-weight:normal;







}















/* layout */







#container {







	width: 960px;







	margin-left: auto;







	margin-right: auto;







	text-align: left;







min-height: 100%;







}























* html #mcontainerain { 







height: 100%; 







	}















#column-left {







	float: left;







	width: 230px;







}







.column-left {







	float: left;







	width: 295px!important;







}







#column-right {







	float: right;







	width: 180px;







}







#content {







	min-height: 400px;







	margin-bottom: 25px;







	border-left:0px solid #eaeaea;







	padding:0 0 0 20px;







}







.nopading {







padding:0 0 0 0px!important;







}















.no_border{







border-left:0px solid #FFF!important;







padding:0 0 0 0px!important;







}























#column-left + #column-right + #content, #column-left + #content {







	margin-left: 230px;







}















.column-left + #column-right + #content, .column-left + #content {







	margin-left: 295px!important;







}























#column-right + #content {







	margin-right: 195px;







}







/* header */















.curier_top_menu{



text-align:center;

height:34px;

width:100%;

background:url(../image/trirton_02.png) 0 0 repeat-x;

position: fixed;

z-index: 100;

}







.top_menu{







width:960px;







margin:0 auto;







padding:0;







height:34px;















}







.top_menu #cart {







float:left;







width:140px;







height:34px;







background:url(../image/trirton_04.png) 0 0 repeat-x;







}







.top_menu #cart .heading {







	float: left;







	width:50px;







	height:34px;







	text-align:center;







	







}















.top_menu #cart .heading a {







	text-decoration: none;







	







	width:26px;







	height:34px;







	display:block;







	margin:0 auto;







}















.top_menu #cart .heading a img{







padding:5px 0 0 0px;







}















.top_menu #cart .content {







	float: left;







	width:90px;







	text-align:left;







	height:30px;







	color:#000;







	font-size:11px;







	text-shadow: 0 0 1px #FFF;







	padding:2px 0 0 0;







}















.top_menu #cart .content a{







color:#000;







	font-size:11px;







	text-shadow: 0 0 1px #FFF;







	text-decoration:none















}















.top_menu #cart .empty {







	line-height:30px;







	







}















.top_menu #welcome {







	float:left;







	width:210px;







	line-height:34px;







		color: #FFF;







}







.top_menu #welcome a {







	







	color: #FFF;







	text-decoration: none;







	font-size: 12px;







}















.top_menu .links {







	float:left;







	height:34px;







	width:600px;







	padding:0px 0 0 0;







	







}







.top_menu .links a {







	float: left;







	display: block;







		padding: 0px 20px 0px 20px;







	color: #FFF;







	height:34px;







	line-height:34px;







	text-decoration: none;







	font-size: 12px;







}















.top_menu .links a.BgRed{







	background:#c11314















}















.top_menu  a:hover, .top_menu #welcome a:hover {







color:#CCC







}















.top_menu  .links a + a {







	margin-left: 0px;







	background:url(../image/links_bg_07.jpg) 0 12px no-repeat







}







.top_menu  .links a.border{







background:url(../image/links_bg_07.jpg) right 12px no-repeat







}















#header {



height: 137px;

width:960px;

padding-top: 34px;

}















#header .header_left {







	float:left;







	width:330px;







	height: 137px;







}







#header #logo {







margin:35px 0 0 10px;	







}















#header .header_middle {







float:left;







	width:380px;







	height: 137px;







}















.header_middle_up{







float:left;







width:100%;







height:60px;







line-height:60px;















}















.header_up_skype{







width:120px;







float:left;







}















.header_up_icq{







width:120px;







float:left;







}















.header_middle_dawn{







float:left;







width:100%;







height:77px;







}































#header #search, #footer_search #search {







	







	float:left;







	width: 380px;







	







}







#header #search .button-search, #footer_search #search .button-search2 {







	







	float:left;







	background: url(../image/trirton_12.png) center center no-repeat;







	width: 43px;







	height: 37px;







	border-right: 0px solid #CCCCCC;







	cursor: pointer;







}







#header #search input ,  #footer_search #search input{







	background: #FFF;







	float:left;







	padding: 0px 5px 0px 13px;







	width: 317px;







	line-height:35px;







	color:#9d9d9d;







	font-size:16px;







	font-style:italic;







	font-family:Arial, Helvetica, sans-serif;







	opacity:1;







	height: 35px;







	border: 1px solid #bfbfbf;







	-webkit-border-radius: 5px 0px 0px 5px;







	-moz-border-radius: 5px 0px 0px 5px;







	-khtml-border-radius: 5px 0px 0px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 0px 0px 5px;







		z-index:99;







position:relative







	







}























#header .header_right {







float:left;







	width:250px;







	height: 137px;







}















.header_right_telefon{







float:left;







width:190px;







padding: 25px 0 0 60px







}







.tb_head_tel{















}















.tb_head_tel td{







	text-align:left;







	width:127px;







	color:#000;







	font-size:20px;







	height:24px;







	vertical-align:middle;















}







.tb_head_tel tr td:first-child{







	text-align:right;







	width:63px;







	color:#312927;







	font-size:15px;







	opacity:.6;







	padding:0 10px 0 0;















}







.tb_head_tel tr:last-child td a{







vertical-align:top;







}















/* menu */







#menu {







	background:url(../image/trirton_17.png);







	width:960px;







	height: 60px;







	







}







#menu ul {







	list-style: none;







	margin: 0;







	padding: 0 0 0 10px;







}







#menu > ul > li {







	position: relative;







	float: left;







	z-index: 20;	







	padding: 0px 0px 0px 0px;







}







#menu > ul > li:hover {







}







#menu > ul > li > a.active, #menu > ul > li > span.active {
	background: #000;
}



#menu > ul > li > a, #menu > ul > li > span {

	font-size: 13px;

	color: #FFF;

	line-height: 14px;

	text-decoration: none;

	display: block;

	padding: 10px 12px 10px 12px;

	margin-bottom: 0px;

	z-index: 6;

	position: relative;

	background:url(../image/menu_arrow.png) left 12px no-repeat;

	width:110px;

	height:39px;

	text-align:left;

	overflow:hidden;

}







#menu > ul > li:first-child > a, #menu > ul > li:first-child > span{



background:none;

}







#menu > ul > li:hover > a, #menu > ul > li:hover > span {

	background: #000000;

}







#menu > ul > li > div {
	display: none;
	background: #eaeaea url(../image/manu_03.jpg) 50% top no-repeat;;
	position: absolute;
	z-index: 9999;
	padding: 15px 15px 15px 5px ;

	border: 0px solid #000000;

	/*-webkit-box-shadow: 0px 5px 0px #CCC;

	-moz-box-shadow: 0px 5px 0px #CCC;

	box-shadow: 0px 5px 0px #CCC;*/



}







#menu > ul > li:hover > div {



	display: table;

}





#menu > ul > li > div > ul {



display: table-cell;

padding-left: 20px;

color:#666;

}







#menu > ul > li ul + ul {

	padding-left: 20px;

}







#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 0px 0 0 0;
	color: #640001;
	display: block;
	white-space: nowrap;
	min-width: 290px;
	font-size:12px;
	line-height:20px;
}







#menu > ul > li ul > li > a:hover {







	text-decoration:underline







}







#menu > ul > li > div > ul > li > a {







	color: #640001;







}















#menu > ul > li ul > li > div > ul{







padding:0;







}















#menu > ul > li ul > li > div > ul >li {







list-style:none!important;







color:#666;







padding:0 0 0 10px;







background: url(../image/bul_03.jpg) 0px 8px no-repeat;







}















#menu > ul > li ul > li > div > ul > li > a {







	text-decoration: none;







	font-size:12px;







}















.breadcrumb {
	color: #CCCCCC;
	margin-bottom: 10px;
	min-height:26px;
	padding:10px 0 0 0;
	font-size:11px;
	color:#666666;
	border-bottom:#d1d1d1 1px solid;
}















.breadcrumb a{







color:#666666;







text-decoration:none;







}























.success, .warning, .attention, .information {







	padding: 10px 10px 10px 33px;







	margin: 15px 0;







	color: #555555;







	-webkit-border-radius: 5px 5px 5px 5px;







	-moz-border-radius: 5px 5px 5px 5px;







	-khtml-border-radius: 5px 5px 5px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 5px 5px 5px;







}







.success {







	background: #FFF url('../image/success.png') 10px center no-repeat;







	background: #FFF;







	border: 1px solid #c11314;







	-webkit-border-radius: 5px 5px 5px 5px;







	-moz-border-radius: 5px 5px 5px 5px;







	-khtml-border-radius: 5px 5px 5px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 5px 5px 5px;



	







}







.warning {







	background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;







	border: 1px solid #F8ACAC;







	-webkit-border-radius: 5px 5px 5px 5px;







	-moz-border-radius: 5px 5px 5px 5px;







	-khtml-border-radius: 5px 5px 5px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 5px 5px 5px;







}







.attention {







	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;







	border: 1px solid #F2DD8C;







	-webkit-border-radius: 5px 5px 5px 5px;







	-moz-border-radius: 5px 5px 5px 5px;







	-khtml-border-radius: 5px 5px 5px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 5px 5px 5px;







}







.success .close, .warning .close, .attention .close, .information .close {







	float: right;







	padding-top: 4px;







	padding-right: 4px;







	cursor: pointer;







}







.required {







	color: #FF0000;







	font-weight: bold;







}







.error {







	display: block;







	color: #FF0000;







}







.help {







	color: #999;







	font-size: 10px;







	font-weight: normal;







	font-family: Verdana, Geneva, sans-serif;







	display: block;







}







table.form {







	width: 100%;







	border-collapse: collapse;







	margin-bottom: 20px;







}







table.form tr td:first-child {







	width: 150px;







}







table.form > * > * > td {







	color: #000000;







}







table.form td {







	padding: 4px;







}







input.large-field, select.large-field {







	width: 300px;







}







table.list {







	border-collapse: collapse;







	width: 100%;







	border-top: 1px solid #DDDDDD;







	border-left: 1px solid #DDDDDD;







	margin-bottom: 20px;







}







table.list td {







	border-right: 1px solid #DDDDDD;







	border-bottom: 1px solid #DDDDDD;







}







table.list thead td {







	background-color: #EFEFEF;







	padding: 0px 5px;







}







table.list thead td a, .list thead td {







	text-decoration: none;







	color: #222222;







	font-weight: bold;







}







table.list tbody td {







	vertical-align: top;







	padding: 0px 5px;







}







table.list .left {







	text-align: left;







	padding: 7px;







}







table.list .right {







	text-align: right;







	padding: 7px;







}







table.list .center {







	text-align: center;







	padding: 7px;







}







table.radio {







	width: 100%;







	border-collapse: collapse;







}







table.radio td {







	padding: 5px;







	vertical-align: top;







}







table.radio td label {







	display: block;







}







table.radio tr td:first-child {







	width: 1px;







}







table.radio tr td:first-child input {







	margin-top: 1px;







}







table.radio tr.highlight:hover td {







	background: #F1FFDD;







	cursor: pointer;







}







.pagination {



	border-top: 0px solid #EEEEEE;

	width:315px;

	display: inline-block;

	padding: 0 0 0 0px;

	margin-left: 15px;

	text-align:center;







}







.pagination .links {







	margin:0 auto;







	







}







.pagination .links a {



	display: inline-block;

	padding: 0 1px;

	text-decoration: underline;

	color: #c11314;

}







.pagination .links a:hover{







text-decoration:none;







} 







.pagination .links b {

	display: inline-block;

	border: 0px solid #269BC6;

	font-weight: normal;

	text-decoration: none;

	color: #000;

	padding: 0 2px;

}







.pagination .results {







	float: right;







	padding-top: 3px;







	display:none







}







/* button */







a.button, input.button {



	cursor: pointer;
	color: #FFFFFF;
	line-height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:  normal;

	background: url('../image/button.png') top left repeat-x;







	-webkit-border-radius: 5px 5px 5px 5px;







	-moz-border-radius: 5px 5px 5px 5px;







	-khtml-border-radius: 5px 5px 5px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 5px 5px 5px;







	vertical-align:top;







		z-index:1;







position:relative







	







}







a.button {







	display: inline-block;







	text-decoration: none;







	padding: 3px 15px 3px 15px;







}







#simplecheckout_button_confirm, #simplecheckout_next, #simplecheckout_prev{



padding: 13px 25px 13px 25px!important;



background: green url('../image/buton4_bg_03.jpg')  top left repeat-x;



}











input.button {







	margin: 0;







	border: 0;







	height: 20px;







	padding: 0px 12px 0px 12px;







		z-index:1;







position:relative







	







}







input.button2 {

	margin: 0;
	border: 0;
	height: 28px;
	padding: 0px 14px 0px 14px;
	cursor: pointer;
	color: #FFFFFF;
	line-height: 13px;







	font-family: Arial, Helvetica, sans-serif;







	font-size: 12px;







	font-weight:  normal;



	background: #9d0f10 url('../image/button.png') top left repeat-x;







	-webkit-border-radius: 5px 5px 5px 5px;







	-moz-border-radius: 5px 5px 5px 5px;







	-khtml-border-radius: 5px 5px 5px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 5px 5px 5px;







	vertical-align:top;







		z-index:1;







position:relative







	







}







input.button3, a.button3 {







	margin: 0;







	border: 0;







	height: 20px;







	padding: 0px 12px 0px 12px;







	cursor: pointer;







	color: #FFF;







	line-height: 13px;







	font-family: Arial, Helvetica, sans-serif;







	font-size: 12px;







	font-weight:  normal;







	margin:0 0 0 5px;







    background: url(../image/buton3_bg_03.jpg) 0 0 repeat-x;







	-webkit-border-radius: 5px 5px 5px 5px;







	-moz-border-radius: 5px 5px 5px 5px;







	-khtml-border-radius: 5px 5px 5px 5px;







behavior: url(PIE.htc); 







	border-radius: 5px 5px 5px 5px;







	vertical-align:middle;







		z-index:1;







position:relative







	







}

a.button3 {

display:block;

float:left;

margin:6px 8px;

text-decoration:none;

padding: 4px 15px 0px 15px;

height:16px;

}







input.button4, a.button4, .popup-buttons a.button {

	margin: 0;
	border: 0;
	height: 28px;
	line-height: 28px !important;
	padding: 0px 14px 0px 14px;
	cursor: pointer;
	color: #FFFFFF;
	line-height: 13px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:  normal;
	background: #9d0f10 url('../image/buton4_bg_03.jpg') top left repeat-x !important;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-khtml-border-radius: 5px 5px 5px 5px;
    behavior: url(PIE.htc); 
	border-radius: 5px 5px 5px 5px;
	vertical-align:top;
	z-index:1;
	position:relative
}

a.button4 {

display:block;

float:left;

text-decoration:none;

height: 20px;

padding: 8px 17px 0px 17px;





}













input.button4:hover, input.button3:hover, , a.button4:hover, a.button3:hover{







opacity:.8;















}























a.button:hover, input.button:hover {







	background: url('../image/button-active.png') repeat-x;







}







.buttons {







	background: #FFFFFF;







	border: 0px solid #EEEEEE;







	overflow: auto;







	padding: 6px;







	margin-bottom: 20px;







}







.buttons .left {







	float: left;







	text-align: left;







}







.buttons .right {







	float: right;







	text-align: right;







}







.buttons .center {







	text-align: center;







	margin-left: auto;







	margin-right: auto;







}







.htabs {







	height: 30px;		







	line-height: 16px;







	border-bottom: 1px solid #DDDDDD;	







}







.htabs a {







	border-top: 1px solid #DDDDDD;







	border-left: 1px solid #DDDDDD;







	border-right: 1px solid #DDDDDD; 







	background: #FFFFFF url('../image/tab.png') repeat-x;







	padding: 7px 15px 6px 15px;







	float: left;







	font-family: Arial, Helvetica, sans-serif;







	font-size: 12px;







	font-weight: normal;







	text-align: center;







	text-decoration: none;







	color: #bb1213;







	margin-right: 2px;







	display: none;







}







.htabs a.selected {







	padding-bottom: 7px;







	background: #FFFFFF;







}







.tab-content {







	border-left: 1px solid #DDDDDD;







	border-right: 1px solid #DDDDDD;







	border-bottom: 1px solid #DDDDDD;







	padding: 10px;







	margin-bottom: 20px;







	z-index: 2;







	overflow: auto;







	text-align:left







}







/* box */







.box-text{







width:100%;







float:left;







}







.box-soc{







float:left;







width:300px;







height:300px;







}















.box-text .box-soc:first-child{







margin:0 60px 0 0;







}















.box {







	margin-bottom: 20px;







}















#column-left .box {







	margin-bottom: 20px;







	padding:0 10px 0 0;







}







.column-left .box {







	margin-bottom: 20px;







	padding:0 0px 0 0!important;







}























.box .box-heading {







	







	padding:9px 0 15px 0;







	font-family: Arial, Helvetica, sans-serif;







	font-size: 25px;







	







	line-height: 24px;







	color: #c11314;







}







.box .box-heading  .readon{







font-size:11px







}































 .box .box-heading.cat{







color:#333333!important;







line-height: 12px!important;;







font-size:12px!important;







font-weight:bold;padding:9px 0 5px 0!important;







}







.box .box-content {







	background: #FFFFFF;







	







	padding: 10px 0;







}















.box.green ul {







padding:0;







margin:0;







list-style:none;







}























/* box products */







.box-product {







	width: 100%;







	overflow: auto;







}







.box-product > div {







	width: 130px;







	display: inline-block;







	vertical-align: top;







	margin-right: 20px;







	margin-bottom: 20px;	







}























#column-left + #column-right + #content .box-product > div {







	width: 230px;







}







.column-left + #column-right + #content .box-product > div {







	width: 295px!important;







}















.box-product .image {







	display: block;







	margin-bottom: 0px;







}







.box-product .image img {







	padding: 3px;







	border: 1px solid #E7E7E7;







}







.box-product .name a {







	color: #38B0E3;







	font-weight: bold;







	text-decoration: none;







	display: block;







	margin-bottom: 4px;







}







.box-product .price, #carousel33 .price{







	display: block;







	font-weight: bold;







	color: #000;







	font-size:16px;







	margin: 4px 0;







}







.box-product .price-old, #carousel33 .price-old {







	color: #CCC;







	text-decoration: line-through;







	font-size:12px







}







.box-product .price-new {







	font-weight: bold;







}







.box-product .rating {







	display: block;







	margin-bottom: 4px;







}







/* box category */







.box-category {







	margin-top: -5px;







}







.box-category ul {







	list-style: none;







	margin: 0;







	padding: 0;







}







.box-category > ul > li {







	padding: 5px 8px 5px 0px;







}







.box-category > ul > li + li {







	border-top: 0px solid #EEEEEE;







}







.box-category > ul > li > a {







	text-decoration: none;







	color: #666666;







}







.box-category > ul > li ul {







	display: none;







}







.box-category > ul > li a.active, .box-category > ul > li a:hover {







	font-weight: normal;







	color: #000;







}







.box-category > ul > li a.active + ul {







	display: block;







}







.box-category > ul > li ul > li {







	padding: 5px 5px 0px 10px;







}


.box-category > ul > li ul > li > a
{
	text-decoration: underline;
	display: block;
	color:#999999
}
.box-category > ul > li ul > li > a.active, .box-category > ul > li ul > li > a:hover {
	text-decoration: underline;







	color:#000







}







/* content */







#content .content {







	padding: 10px;







	overflow: hidden;







	margin-bottom: 20px;







	border: 0px solid #EEEEEE;







}







#content .content .left {







	float: left;







	width: 49%;







}







#content .content .right {







	float: right;







	width: 49%;







}







#content2{







float:left;







background:url(../image/main_bg_03.jpg) 0 0 repeat-y;







margin-bottom:28px;







}















/*record*/















.record-list_s{







float:left;







width:280px;







}







.record-one_s{







float:left;







width:280px;







padding:0 0 20px 0;







}







.record-one-left_s{







width:105px;







float:left;







text-align:center;















}







.record-one-left_s .image{







padding:0 0 10px 0;







}







.record-one-right_s{







	text-align:left;







float:left;







width:165px;







padding-left:10px;







}















.record-one-right_s .name, .record-one-right_s .description{







	padding:0 0 5px 0;







	width:100%;







}







/* category */







.category-info {







	clear:both;







	overflow: auto;







	padding-top: 20px;







}







.category-info .image {







	float: left;







	padding: 5px;







	margin-right: 15px;







	border: 1px solid #E7E7E7;







}







.category-list {
	overflow: auto;
	margin-bottom: 20px;
	min-width:700px;
	font-size: 16px;
}
.category-list li
{
	margin-bottom: 10px;
}
.category-list a
{
	font-size: 14px;
	
}




.category-list ul {
	float: left;
	width: 27%;
	list-style: none;
	text-align: center;
}




/* manufacturer */







.manufacturer-list {







	border: 1px solid #DBDEE1;







	padding: 5px;







	overflow: auto;







	margin-bottom: 20px;







}







.manufacturer-heading {







	background: #F8F8F8;







	font-size: 15px;







	font-weight: bold;







	padding: 5px 8px;







	margin-bottom: 6px;







}







.manufacturer-content {







	padding: 8px;







}







.manufacturer-list ul {







	float: left;







	width: 25%;







	margin: 0;







	padding: 0;







	list-style: none;







	margin-bottom: 10px;







}







/* product */







.product-filter {







	border-bottom: 0px solid #EEEEEE;







	padding-bottom: 40px;







	overflow: auto;







	width:710px;







	height:30px;







	line-height:30px;







	float:left;







	







	background:url(../image/filter_bg_03.jpg) 0 0 no-repeat;







}















.product-filter.dawn {







padding-bottom: 5px;

background:none;

text-align:center;







}















.product-filter.dawn.blog {







padding-bottom: 25px;







}















.product-filter .display {







	margin-right: 15px;







	float: left;







	padding-top: 4px;







	color: #333;







}







.product-filter .display a {







	font-weight: bold;







}























.product-filter .sort {
	float: left;
	font-size:11px;
	color: #666666;
	padding:0 0 0 10px
}







.product-filter .sort select {







	min-width:80px;







}







.product-filter .limit {
	font-weight:normal;
	float: left;
	font-size:11px;
	color: #666666;
	padding:0 0 0 15px
}







.product-filter .limit select {







	width:45px;







}















.product-compare {







	padding-top: 6px;







	margin-bottom: 25px;







	font-weight: bold;







}







.product-compare a {







	text-decoration: none;







	font-weight: bold;







}















.product_one{







float:left;







padding:0 0 30px 0;















}







.product_one_left{







float:left;







}







.product-list, record-list{







float:left;







}























.product_one_left{







width:230px;







float:left;







padding:0 10px 0 0;







}







.product_one_right{







width:465px;







float:left







}























.product-list .image {







	float: left;







	margin-right: 10px;







}







.product-list .image img {







	padding: 0px;







	border: 0px solid #E7E7E7;







}







.product-list .name {







	margin-bottom: 3px;







}







.product-list .name a {







	color: #c11314;







	font-weight: normal;







	font-size:18px;







	text-decoration: underline;







}







.product-list .name a:hover {







text-decoration:none;







}







.product-list .description {







	line-height: 15px;







	margin-bottom: 5px;







	color: #4D4D4D;







}







.product-list .rating {







	color: #7B7B7B;







}







.product-list .price {







	float: left;







	height: 30px;







	margin-right: 10px;







	text-align: left;







	color: #000;







	font-size: 22px;







	font-weight:bold







}







.product-list .price-old {







	color: #999;







	text-decoration: line-through;







	font-size:12px;







}







.product-list .price-new {







	font-weight: bold;







}







.product-list .price-tax {







	font-size: 12px;







	font-weight: normal;







	color: #BBBBBB;







}







.product-list .cart a.button4 {
	float:left;
	margin:0 3px 3px 0px;
	line-height: 13px !important;
}







 .product-list .compare {







	margin:0 5px 0 3px;







text-align: right;







height:30px;







line-height:30px;







}







.product-list .compare a {







	color: #c11314;







	text-decoration: underline;







	font-size:11px;







	







}







.product-grid {







	width: 100%;







	overflow: auto;







}







.product-grid > div {







	width: 130px;







	display: inline-block;







	vertical-align: top;







	margin-right: 20px;







	margin-bottom: 15px;







}















#column-left + #column-right + #content .product-grid > div {







	width: 125px;







}







.column-left + #column-right + #content .product-grid > div {







	width: 125px!important;







}















.product-grid .image {







	display: block;







	margin-bottom: 0px;







}







.product-grid .image img {







	padding: 3px;







	border: 1px solid #E7E7E7;







}







.product-grid .name a {







	color: #38B0E3;







	font-weight: bold;







	text-decoration: none;







	display: block;







	margin-bottom: 4px;







}







.product-grid .description {







	display: none;







}







.product-grid .rating {







	display: block;







	margin-bottom: 4px;







}







.product-grid .price {







	display: block;







	font-weight: bold;







	color: #333333;







	margin-bottom: 4px;







}







.product-grid .price-old {







	color: #F00;







	text-decoration: line-through;







}







.product-grid .price-new {







	font-weight: bold;







}







.product-grid .price .price-tax {







	display: none;







}







.product-grid .cart {







	margin-bottom: 3px;







}







.product-grid .wishlist, .product-grid .compare {







	margin-bottom: 3px;







}







.product-grid .wishlist a {







	color: #333333;







	text-decoration: none;







	padding-left: 18px;







	display: block;







	background: url('../image/add.png') left center no-repeat;







}







.product-grid .compare a {







	color: #333333;







	text-decoration: none;







	padding-left: 18px;







	display: block;







	background: url('../image/add.png') left center no-repeat;







}























/* Product */







.product-info {







	overflow: auto;







	margin-bottom: 0px;







}







.product-info > .left {







	float: left;







	margin-right: 15px;







}







.product-info > .left + .right {







	margin-left: 340px;







	







}







.product-info .image {







	border: 1px solid #E7E7E7;







	float: left;







	margin-bottom: 20px;







	padding: 0px;







	text-align: center;







}







.product-info .image-additional {







	width: 330px;







	margin-left: -10px;







	clear: both;







	overflow: hidden;







}







.product-info .image-additional img {







	border: 1px solid #E7E7E7;







}







.product-info .image-additional a {







	float: left;







	display: block;







	margin-left: 10px;







	margin-bottom: 10px;







}







.product-info .description {







	border-top: 1px solid #E7E7E7;







	border-bottom: 1px solid #E7E7E7;







	padding: 10px 0px 0px 0px;







	margin-bottom: 10px;







	line-height: 20px;







	color: #4D4D4D;







}







.product-info .description span {







	color: #333333;







}







.product-info .description a {







	color: #333333;







	text-decoration: none;







}







.product-info .price {







	overflow: auto;







	border-bottom: 0px solid #E7E7E7;







	border-top: 1px solid #E7E7E7;







	padding: 22px 5px 22px 0px;







	margin-bottom: 0px;







	margin-top: 10px;







	font-size: 22px;







	font-weight: bold;







	color: #000000;







}







.text_price{







color:#333;







font-size:18px;







font-weight:normal







}















.product-info .price-old {







	color: #999!important;







	text-decoration: line-through;







	font-size: 14px;







}







.product-info .price-new {







}







.product-info .price-tax {







	font-size: 12px;







	font-weight: normal;







	color: #999;







}







.product-info .price .reward {







	font-size: 12px;







	font-weight: normal;







	color: #999;







}







.product-info .price .discount {







	font-weight: normal;







	font-size: 12px;







	color: #4D4D4D;







}







.product-info .options {







	border-bottom: 1px solid #E7E7E7;







	padding: 0px 5px 10px 5px;







	margin-bottom: 10px;







	color: #000000;







}







.product-info .option-image {







	margin-top: 3px;







	margin-bottom: 10px;







}







.product-info .option-image label {







	display: block;







	width: 100%;







	height: 100%;







}







.product-info .option-image img {







	margin-right: 5px;







	border: 1px solid #CCCCCC;







	cursor: pointer;







}







.product-info .cart {







	border-bottom: 1px solid #E7E7E7;







	padding: 0px 5px 10px 5px;







	margin-bottom: 20px;







	color: #4D4D4D;







	overflow: auto;







}







.product-info .cart div {







	float: left;







	vertical-align: middle;







	line-height:30px;







	height:30px;







	







}















.product-info .cart .compare{







height: 30px;







    line-height: 30px;







    margin: 0 5px 0 3px;







    text-align: right;







	float:right







}







.product-info .cart .compare a{







font-size:11px







}















.product-info .cart div > span {







	padding-top: 7px;







	display: block;







	color: #999;







}







.product-info .cart .minimum {







	padding-top: 5px;







	font-size: 11px;







	color: #999;







	clear: both;







}







.product-info .review {







	color: #4D4D4D;







	border-top: 1px solid #E7E7E7;







	border-left: 1px solid #E7E7E7;







	border-right: 1px solid #E7E7E7;







	margin-bottom: 10px;







}







.product-info .review > div {







	padding: 5px;







	border-bottom: 1px solid #E7E7E7;







	line-height: 20px;







	color:#bb1213







	







	







}















.product-info .review > div img{







vertical-align:middle







}















.product-info .review > div.share{







padding: 8px;







}















.product-info .review > div > span {







	color: #38B0E3;







}







.product-info .review .share {







	overflow: auto;







	line-height: normal;







}







.product-info .review .share a {







	text-decoration: none;







}







.review-list {







	padding: 10px;







	overflow: auto;







	margin-bottom: 20px;







	border: 1px solid #EEEEEE;







}







.review-list .author {







	float: left;







	margin-bottom: 20px;







}







.review-list .rating {







	float: right;







	margin-bottom: 20px;







}







.review-list .text {







	clear: both;







}







.attribute {







	border-collapse: collapse;







	width: 100%;







	border-top: 1px solid #DDDDDD;







	border-left: 1px solid #DDDDDD;







	margin-bottom: 20px;







}







.attribute thead td, .attribute thead tr td:first-child {







	color: #000000;







	font-size: 14px;







	font-weight: bold;







	background: #F7F7F7;







	text-align: left;







}







.attribute tr td:first-child {







	color: #000000;







	font-weight: bold;







	text-align: right;







	width: 20%;







}







.attribute td {







	padding: 7px;







	color: #4D4D4D;







	text-align: center;







	vertical-align: top;







	border-right: 1px solid #DDDDDD;







	border-bottom: 1px solid #DDDDDD;







}







.compare-info {







	border-collapse: collapse;







	width: 100%;







	border-top: 1px solid #DDDDDD;







	border-left: 1px solid #DDDDDD;







	margin-bottom: 20px;







}







.compare-info thead td, .compare-info thead tr td:first-child {







	color: #000000;







	font-size: 14px;







	font-weight: bold;







	background: #F7F7F7;







	text-align: left;







}







.compare-info tr td:first-child {







	color: #000000;







	font-weight: bold;







	text-align: right;







}







.compare-info td {







	padding: 7px;







	width: 20%;







	color: #4D4D4D;







	text-align: center;







	vertical-align: top;







	border-right: 1px solid #DDDDDD;







	border-bottom: 1px solid #DDDDDD;







}







.compare-info .name a {







	font-weight: bold;







}







.compare-info .price-old {







	font-weight: bold;







	color: #F00;







	text-decoration: line-through;







}







.compare-info .price-new {







	font-weight: bold;







}







/* wishlist */







.wishlist-info table {







	width: 100%;







	border-collapse: collapse;







	border-top: 1px solid #DDDDDD;







	border-left: 1px solid #DDDDDD;







	border-right: 1px solid #DDDDDD;







	margin-bottom: 20px;







}







.wishlist-info td {







	padding: 7px;







}







.wishlist-info thead td {







	color: #4D4D4D;







	font-weight: bold;







	background-color: #F7F7F7;







	border-bottom: 1px solid #DDDDDD;







}







.wishlist-info thead .image {







	text-align: center;







}







.wishlist-info thead .name, .wishlist-info thead .model, .wishlist-info thead .stock {







	text-align: left;







}







.wishlist-info thead .quantity, .wishlist-info thead .price, .wishlist-info thead .total, .wishlist-info thead .action {







	text-align: right;







}







.wishlist-info tbody td {







	vertical-align: top;







	border-bottom: 1px solid #DDDDDD;







}







.wishlist-info tbody .image img {







	border: 1px solid #DDDDDD;







}







.wishlist-info tbody .image {







	text-align: center;







}







.wishlist-info tbody .name, .wishlist-info tbody .model, .wishlist-info tbody .stock {







	text-align: left;







}







.wishlist-info tbody .quantity, .wishlist-info tbody .price, .wishlist-info tbody .total, .wishlist-info tbody .action {







	text-align: right;







}







.wishlist-info tbody .price s {







	color: #F00;







}







.wishlist-info tbody .action img {







	cursor: pointer;







}







.login-content {







	margin-bottom: 20px;







	overflow: auto;







}







.login-content .left {







	float: left;







	width: 48%;







}







.login-content .right {







	float: right;







	width: 48%







}







.login-content .left .content, .login-content .right .content {







	min-height: 190px;







}







/* orders */







.order-list {







	margin-bottom: 10px;







}







.order-list .order-id {







	width: 49%;







	float: left;







	margin-bottom: 2px;







}







.order-list .order-status {







	width: 49%;







	float: right;







	text-align: right;







	margin-bottom: 2px;







}







.order-list .order-content {







	padding: 10px 0px;







	display: inline-block;







	width: 100%;







	margin-bottom: 20px;







	border-top: 1px solid #EEEEEE;







	border-bottom: 1px solid #EEEEEE;







}







.order-list .order-content div {







	float: left;







	width: 33.3%;







}







.order-list .order-info {







	text-align: right;







}







.order-detail {







	background: #EFEFEF;







	font-weight: bold;







}







/* returns */







.return-list {







	margin-bottom: 10px;







}







.return-list .return-id {







	width: 49%;







	float: left;







	margin-bottom: 2px;







}







.return-list .return-status {







	width: 49%;







	float: right;







	text-align: right;







	margin-bottom: 2px;







}







.return-list .return-content {







	padding: 10px 0px;







	display: inline-block;







	width: 100%;







	margin-bottom: 20px;







	border-top: 1px solid #EEEEEE;







	border-bottom: 1px solid #EEEEEE;







}







.return-list .return-content div {







	float: left;







	width: 33.3%;







}







.return-list .return-info {







	text-align: right;







}







.return-product {







	overflow: auto;







	margin-bottom: 20px;







}







.return-name {







	float: left;







	width: 31%;







	margin-right: 15px;







}







.return-model {







	float: left;







	width: 31%;







	margin-right: 15px;







}







.return-quantity {







	float: left;







	width: 31%;







}







.return-detail {







	overflow: auto;







	margin-bottom: 20px;







}







.return-reason {







	float: left;







	width: 31%;







	margin-right: 15px;







}







.return-opened {







	float: left;







	width: 31%;







	margin-right: 15px;







}







.return-opened textarea {







	width: 98%;







	vertical-align: top;







}







.return-captcha {







	float: left;







}







.download-list {







	margin-bottom: 10px;







}







.download-list .download-id {







	width: 49%;







	float: left;







	margin-bottom: 2px;







}







.download-list .download-status {







	width: 49%;







	float: right;







	text-align: right;







	margin-bottom: 2px;







}







.download-list .download-content {







	padding: 10px 0px;







	display: inline-block;







	width: 100%;







	margin-bottom: 20px;







	border-top: 1px solid #EEEEEE;







	border-bottom: 1px solid #EEEEEE;







}







.download-list .download-content div {







	float: left;







	width: 33.3%;







}







.download-list .download-info {







	text-align: right;







}







/* cart */







.cart-info table {







	width: 100%;







	margin-bottom: 15px;







	border-collapse: collapse;







	border-top: 1px solid #DDDDDD;







	border-left: 1px solid #DDDDDD;







	border-right: 1px solid #DDDDDD;







}







.cart-info td {







	padding: 7px;







}







.cart-info thead td {







	color: #4D4D4D;







	font-weight: bold;







	background-color: #F7F7F7;







	border-bottom: 1px solid #DDDDDD;







}







.cart-info thead .image {







	text-align: center;







}







.cart-info thead .name, .cart-info thead .model, .cart-info thead .quantity {







	text-align: left;







}







.cart-info thead .price, .cart-info thead .total {







	text-align: right;







}







.cart-info tbody td {







	vertical-align: top;







	border-bottom: 1px solid #DDDDDD;







}







.cart-info tbody .image img {







	border: 1px solid #DDDDDD;







}







.cart-info tbody .image {







	text-align: center;







}







.cart-info tbody .name, .cart-info tbody .model, .cart-info tbody .quantity {







	text-align: left;







}







.cart-info tbody .quantity input[type='image'], .cart-info tbody .quantity img {







	position: relative;







	top: 4px;







	cursor: pointer;







}







.cart-info tbody .price, .cart-info tbody .total {







	text-align: right;







}







.cart-info tbody span.stock {







	color: #F00;







	font-weight: bold;







}







.cart-module > div {







	display: none;







}







.cart-total {







	border-top: 1px solid #DDDDDD;







	overflow: auto;







	padding-top: 8px;







	margin-bottom: 15px;







}







.cart-total table {







	float: right;







}







.cart-total td {







	padding: 3px;







	text-align: right;







}







/* checkout */







.checkout-heading {







	background: #F8F8F8;







	border: 1px solid #DBDEE1;







	padding: 8px;







	font-weight: bold;







	font-size: 13px;







	color: #555555;







	margin-bottom: 15px;







}







.checkout-heading a {







	float: right;







	margin-top: 1px;







	font-weight: normal;







	text-decoration: none;







}







.checkout-content {







	padding: 0px 0px 15px 0px;







	display: none;







	overflow: auto;







}







.checkout-content .left {







	float: left;







	width: 48%;







}







.checkout-content .right {







	float: right;







	width: 48%;







}







.checkout-content .buttons {







	clear: both;







}







.checkout-product table {







	width: 100%;







	border-collapse: collapse;







	border-top: 1px solid #DDDDDD;







	border-left: 1px solid #DDDDDD;







	border-right: 1px solid #DDDDDD;







	margin-bottom: 20px;







}







.checkout-product td {







	padding: 7px;







}







.checkout-product thead td {







	color: #4D4D4D;







	font-weight: bold;







	background-color: #F7F7F7;







	border-bottom: 1px solid #DDDDDD;







}







.checkout-product thead .name, .checkout-product thead .model {







	text-align: left;







}







.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {







	text-align: right;







}







.checkout-product tbody td {







	vertical-align: top;







	border-bottom: 1px solid #DDDDDD;







}







.checkout-product tbody .name, .checkout-product tbody .model {







	text-align: left;







}







.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {







	text-align: right;







}







.checkout-product tfoot td {







	text-align: right;







	border-bottom: 1px solid #DDDDDD;







}







.contact-info {







	overflow: auto;







}







.contact-info .left {







	float: left;







	width: 48%;







}







.contact-info .right {







	float: left;







	width: 48%;







}







.sitemap-info {







	overflow: auto;







	margin-bottom: 40px;







}







.sitemap-info .left {







	float: left;







	width: 48%;







}







.sitemap-info .right {







	float: left;







	width: 48%;







}







/* footer */















.hFooter { 







clear: both;







	height:  175px;







}































#footer_curier{

	clear: both;

height: 175px;

width:100%;

text-align:center;

background: #666061 url(../image/trirton_24.png) repeat-x 0 0;







}















#footer {







	clear:both;







	overflow: hidden;







	height: 175px;







	padding: 0px;







	width:960px;







	margin:0 auto;







}







#footer_left{







float:left;







width:710px;







height:175px;







}	







#footer_left_up{







float:left;







width:710px;







height:40px;







padding:45px 0 0 0;







}















#footer_left_up ul{







float:left;







width:710px;







margin:0;







padding:0;







}















#footer_left_up li{







float:left;







padding: 0px 15px 0px 15px;







list-style:none;







border-left:1px solid #969595;







height:14px;







}







#footer_left_up li:first-child{







padding: 0px 15px 0px 0px;







border-left:0px solid #969595







}















#footer_left_up li a {







	







		color: #FFF;







	text-decoration: none;







	font-size: 12px;







}















#footer_left_up li a:hover {







color:#CCC;







text-decoration:underline;







}















































#footer_left_middle{







float:left;







width:710px;







height:40px







}







#footer_soc{







width:330px;







float:left;







padding:8px 0 0 0;







height:19px;







line-height:19px;







color:#afadad;







text-align:left;







vertical-align:top;







display:table-cell







}







#footer_soc a, #footer_soc > div{







display:block;







float:left;







padding:0 4px 0 0;







}







#footer_soc a{







opacity:.8;







}







#footer_soc a:hover{







opacity:1;







}















#footer_left_dawn{







float:left;







width:710px;







height:50px







}























#footer_right{







float:left;







width:220px;







height:125px;







padding:40px 0 0 30px







}























#footer_right .header_right_telefon{







float:left;
width:190px;
padding: 35px 0 0 60px
}

#footer_right .tb_head_tel{
}

#footer_right .tb_head_tel td{







	text-align:left;







	width:127px;







	color:#d2d1d2;







	font-size:25px;







	height:24px;







	vertical-align:middle;















}







#footer_right .tb_head_tel tr td:first-child{







	text-align:right;







	width:63px;







	color:#9e9c9c;







	font-size:15px;







	opacity:.6;







	padding:0 10px 0 0;















}







#footer_right .tb_head_tel tr:last-child td a{







vertical-align:top;







color:#FFF;







}















































#powered {







	margin-top: 0px;







	text-align: left;







	clear: both;







	color:#afadad;







}







#powered  a{







color:#afadad;







}
.google_link{
    text-align: left;
}

.google_link a{
    color:#afadad;
}







/* banner */







.banner div {







	text-align: center;







	width: 100%;







	display: none;







}







.banner div img {







	margin-bottom: 20px;







}















#carousel0{







clear:both;







}















.record-list > div:last-child{







padding: 0 0 30px 0; 







}







 .fb_reset  { display: none; }



#content h1 span

{

	padding-left: 10px;

}



 



 



#tab-video

{

	z-index: 3;

}

.prod-name

{

	width: 710px;

	position:relative;

}

.prod-name h1

{

	margin-right: 150px;



}

.prod-sku

{

	text-align:right;

	color:#666666; font-size:11px;

	width: 130px;

	position:absolute;

	right: 0px;

	top: 10px;



}

.simpleregister

{

	width: 750px;

}

.simpleregister-button-block

{

	width: 737px;

}

.simplecheckout-right-column

{

	overflow: visible !important;

	width: 470px !important;

} 



.simplecheckout-left-column

{

	width: 425px !important;	

}

.record-list .image img
{	
	border: 1px solid #fff1d5;	
	 -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5); 
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
	behavior:url(/PIE.htc);
	margin-right: 20px;
	margin-bottom: 20px;
}
.record-list > div
{
	margin-bottom: 20px;

}
.record-list .name
{
	margin-bottom: 15px;
}
.record-list .description
{
	margin-bottom: 10px;
	line-height: 18px;
}
.record-info
{
	line-height: 18px;
}
.record-info img
{
	max-width: 690px;
}
.simplecheckout
{
	position: relative !important;
}
/*.simplecheckout .box.simple
{
	position: absolute ;
	bottom: 50px;
	left: 0px;
}
.simplecheckout-button-block
{
	margin-top: 280px !important;

}
*/

.simplecheckout-cart-total.simplecheckout-cart-buttons
{
	display: none;
}
.text_price.ask
{
	text-decoration: underline;
	color:#000;
	font-size: 14px;
	cursor: pointer;
}
.simplecheckout-block-content.simplecheckout-shipping-address
{
	margin-bottom: 15px;
}
.children-sub-category
{
	display: none;
}
.note{
    margin: 0 0 5px 5px;
    font-size: 11px;
    color: grey;
}
